.container-p5 {
max-width: 95%;
}

a {
  font-family: 'DK Lemon Yellow Sun';
  font-size: 35px;
  color: rgb(159, 199, 205);
  text-align: left;
  vertical-align: bottom;
}

table, .btn-default {
  color: rgb(159, 199, 205);
  font-family: 'DK Lemon Yellow Sun';
  font-size: 22px;
  text-align: center;
  margin-top: 50px;
  justify-items: center;
}

img {
  height: 180px;
  align-self: baseline;
  filter: drop-shadow(13px 13px 5px #000000);
  transition: height 1s;
  margin-left: auto;
  margin-right: auto;
}

img:hover {
  height: 200px;
  transition: height 1s;
  cursor : pointer;
}

.image {
  height : 240px;
  width : 160px;
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
}

#title {
  text-align: left;
  padding-left: 0%;
  word-wrap: break-word;
  max-width: 160px;
  font-size: 22px;
  vertical-align: middle;
}

table {
  border-bottom: 2px solid rgb(159, 199, 205);
  /* border-top: 2px solid rgb(159, 199, 205); */
}

td {
  vertical-align: bottom;
  border-top: none;
  justify-items: center;
}

tr {
  justify-items: center;
}
