<div class="container p-5">
  <table class="table">
    <tbody>
      <tr>
        <td>
          <p>
            Community :
          <p>
        </td>
        <td id="allRatings">
          <a href="/communityRatings">
            <p class="clickable"> see all ratings
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </p>
          </a>
        </td>
        <td id="allComments">
          <a href="/communityComments">
            <p class="clickable">see all comments<i class="far fa-comment"></i>
            </p>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
