.container-p5 {
    max-width: 95%;
    }

    p {
      font-family: 'DK Lemon Yellow Sun';
      font-size: 35px;
      color: rgb(159, 199, 205);
      text-align: left;
      vertical-align: bottom;
    }

    table, .btn-default {
      color: rgb(159, 199, 205);
      font-family: 'DK Lemon Yellow Sun';
      font-size: 22px;
      text-align: center;
      margin-top: 100px;
      justify-items: center;
      vertical-align: bottom;
      padding-bottom: -20px;
    }

    table {
      border-bottom: 2px solid rgb(159, 199, 205);
    }

    td {
      vertical-align: bottom;
      border-top: none;
      justify-items: center;
      padding-bottom: 0%;
    }

    tr {
      justify-items: center;
    }

    a {
      font-family: 'DK Lemon Yellow Sun';
      font-size: 35px;
      color: rgb(159, 199, 205);
      text-align: right;
      vertical-align: bottom;
    }

    .fa-star, .fa-comment {
      color: rgba(240, 197, 116);
      margin-right: 0%;
      vertical-align: center;
    }

    .clickable {
      text-align: right;
      padding-bottom: 0%;
      vertical-align: center;
    }

    .fa-comment {
      padding-left: 10px;
    }
