body {
  background-color: rgb(52, 58, 64);
  height: 100%;
}

h1 {
  font-family: 'DK Lemon Yellow Sun';
  color: rgb(159, 199, 205);
  font-weight: bold;
  border-style: solid;
  padding: 10px;
  margin: auto;
  width: 40%;
  border-radius: 10px;
}

#label {
    border-bottom: rgb(240, 197, 116);
    border-width: 2px;
    border-bottom-style: solid;
}

thead {
  font-weight: bold;
  color: rgb(159, 199, 205);
  font-family: 'DK Lemon Yellow Sun';
  font-size: 22px;
  text-align: center;
}

#overview {
  font-family: 'LettersForLearners';
}

table, .btn-default {
  color: rgb(159, 199, 205);
  font-family: 'DK Lemon Yellow Sun';
  font-size: 22px;
  text-align: justify;
}

img {
  height : 135px;
  filter: drop-shadow(10px 10px 4px #000000);
  transition : height 1s, filter 1s;
}

img:hover {
  height : 160px;
  filter: drop-shadow(13px 13px 5px #000000);
  transition : height 1s, filter 1s;
  cursor : pointer;
}

.image {
  height : 160px;
  width : 130px;
  text-align: center;
}

#title {
  font-weight: bold;
  font-size: 28px;
  font-family: 'DK Lemon Yellow Sun';
  text-align: center;
}

#popularity, #votes {
  text-align: center;
}

.clickable {
  cursor : pointer;
}