td {
  color: rgb(159, 199, 205);
  font-family: 'Letters-for-Learners';
  font-size: 24px;
  vertical-align: auto;
  max-width: 500px;
  word-wrap: break-word;
  text-align: center;
}

th {
  color: rgb(240, 197, 116);
  font-size: 22px;
  text-align: center;
  font-family: 'DK Lemon Yellow Sun';
  max-width: 500px;
}

#username {
  font-weight: bold;
}
