<div class="container p-5" *ngIf="comments != null">

  <table class="table">
    <tbody>
      <tr *ngIf="comments.length > 0">
        <th style="text-align: left">user</th>
        <th style="margin: auto">comment</th>
      </tr>
      <tr class="pointer" *ngFor="let entry of comments, let i = index">
        <td id="username">{{userNames[i]}}</td>
        <td style="text-align: center">{{bodies[i]}}</td>
      </tr>
    </tbody>
  </table>
</div>

<app-loading-page *ngIf="comments==null"></app-loading-page>
