td {
  color: rgb(159, 199, 205);
  font-family: 'Kalam-Regular';
  font-size: 24px;
  vertical-align: bottom;
}

th {
  color: rgb(240, 197, 116);
  font-size: 22px;
  text-align: center;
  font-family: 'DK Lemon Yellow Sun';
}

#username {
  font-weight: bold;
}

td, th {
  word-wrap: break-word;
  max-width: 500px;
}
