.submit {
  width: 100px;
  margin-top: 10px;
  font-family: "DK Lemon Yellow Sun";
  border-radius: 5px;
  box-sizing: content-box;
  background-color: rgba(240, 197, 116);
}

.delete {
  color: rgba(240, 197, 116);
  font-family: "DK Lemon Yellow Sun";
  text-align: right;
  margin-right: 45px;
  background-color: rgba(52, 58, 64);
  border-style: none;
}
