body,
.container {
  background-color: rgb(52, 58, 64);
  min-height: 100%;
  margin-bottom: -1.2%;
}

#profilePicture {
  content: url("../../../assets/img/profilePicture5.png");
  display: inline-block;
  max-width: 200px;
  max-height: 200px;
  height: min-content;
  justify-items: center;
  vertical-align: top;
}

#pieRatingChart {
  width: 20%;
  display: inline-block;
  margin-left: 12%;
}

#barChart {
  width: 25%;
  display: inline-block;
  margin-left: 12%;
}

#hiUser {
  font-family: 'DK Lemon Yellow Sun';
  color: rgb(159, 199, 205);
}

#chartsLine {
  vertical-align: bottom;
}

#ratingTable {
  padding-top: 60px;
}

/* #header {
  background-image: url("../../../assets/img/header-midnightBlue.jpg");
  width: 110%;
  height: 100%;
  align-items: center;
  background-size: cover;
  background-image: inherit
} */

h1 {
  text-align: left;
  padding-top: 30px;
  font-size: 26px;
  /* border-bottom: rgb(159, 199, 205);
  border-width: 3px;
  border-bottom-style: solid; */
}
