body,
.container {
  background-color: rgb(52, 58, 64);
  min-height: 100%;
  margin-bottom: -1.2%;
  padding-top: 50px;
}

#profilePicture {
  content: url("../../../assets/img/profilePicture6.png");
  display: block;
  max-width: 200px;
  max-height: 150px;
  height: min-content;
  justify-items: center;
}

#pieRatingChart {
  width: 20%;
}

#barChart {
  width: 50%;
}

#hiUser {
  font-family: 'DK Lemon Yellow Sun';
  color: rgb(159, 199, 205);
  width: 200px;
  margin-right: 0%;
}

/* p {
  color : rgb(240, 197, 116);
  font-family: 'DK Lemon Yellow Sun';
  font-size: 22px;
  vertical-align: bottom;
  /* margin-left: auto;
  text-align: center;
}
*/
