body {
  background-color: rgb(52, 58, 64);
  height: 100%;
  margin-bottom: -1.2%
}

#title {
  font-family: "DK Lemon Yellow Sun";
  font-size: 32px;
  font-weight: bold;
}

#movieId {
  width: 200px;
}

.list-group-item {
  color: rgb(190, 238, 245);
  background-color: rgb(52, 58, 64);
  font-size: 22px;
  font-family: "Kalam-Regular";
  border: none;
  align-content: justify;
  padding: 8px;
  text-justify: auto;
  width: 600px;
  vertical-align: top;
  margin-left: 5%;
}

img {
  width: 230px;
  float: right;
  display: inline;
  margin-right: 5%;
  vertical-align: bottom;
}

.fa-backward {
  margin-left: -50px;
  margin-top: 20px;
  color: rgb(190, 238, 245);
}

#MovieDetails{
  vertical-align: top;
}

.list-group {
  width: 60%;
}

#overview {
  text-justify: distribute;
  width: 90%;
}

#chart {
  margin-right: 20%;
}

#charMediaRating, #chartDetailRating, img {
  float: left;
}

#chartBlock {
  background-image: url('../../../assets/img/header-jetBlack.jpg');
  opacity: 0.8;
  width:100%;
  height: auto;
}
