body {
  background-color: rgb(52, 58, 64);
  height: 100%;
}

th {
  color: rgb(240, 197, 116) !important;
  font-size: 28px;
  text-align: center;
}

td, tr {
  color: rgb(159, 199, 205);
  text-align: left;
  font-size: 24px;
}

table, tbody {
  font-family: 'DK Lemon Yellow Sun';
  font-size: 18px;
  padding-bottom: 80px;
}

#rating {
  font-size: 22px;
  text-align: center;
}

#title {
  text-align: left;
}

#overview {
  width: 60%;
  font-family: "LettersForLearners";
  font-size: 20px;
}
