/*etichetta credenziali*/
label {
    font-size: 22px;
    font-family: "DK Lemon Yellow Sun";
    width: 92px;
    height: 32px;
    margin-left: 0%;
    margin-bottom: 0%;
    vertical-align: bottom;
    text-align: left;
  }

  /*lista*/
  ul {
    padding-top: 10px;
    padding: 40px;
    list-style: none;
  }

  /*form username + psw + bottoni*/
  .form-group {
    height: max-content;
    width: max-content;
    padding-right: 35px;
    margin-top: 40px;
    background-color: rgb(52, 58, 64,0.6);
    border-radius: 15px;
    border-style: solid;
    border-color:  rgb(159, 199, 205);
    border-width: 3px;
  }

  /*riga input*/
  .input-line {
    width: 190px;
    border-radius: 5px;
    border-style: solid;
    border-color:  rgb(159, 199, 205, 0.7);
  }

  /*label + riga input*/
  .credential-block {
    justify-content: stretch;
    padding-bottom: 20px;
    vertical-align: auto;
    color:  rgb(159, 199, 205);
  }

  /*botton submit*/
  .submit {
    float: right;
    width: 70px;
    margin-top: 10px;
    font-family: "DK Lemon Yellow Sun";
    border-radius: 5px;
    box-sizing: content-box;
    background-color: rgba(240, 197, 116);
  }

.fa-times {
  color: red;
}

.fa-check-circle {
  color: green;
}

body, html {
  background-color: rgb(52, 58, 64);
  height: 370px;
  margin-bottom: -1.2%
}

p, a {
  color: rgba(240, 197, 116);
  font-family: "DK Lemon Yellow Sun";
  text-align: right;
  margin-right: 45px;
}

#error {
  font-size: 22px;
}
