<body>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th></th>
          <th id="title" scope="col">Movie</th>
          <th id="rating" scope="col">Rating</th>
          <th id="userId" scope="col">User</th>
          <!-- <th id="comment" scope="col">Comment</th> -->
        </tr>
      </thead>
      <tbody>
        <tr class="pointer" *ngFor="let entry of datas, let i = index">
          <td>
              {{titles[i]}}
          </td>
          <td>
            <li> {{ratings[i]}} </li>
          </td>
          <td>{{userNames[i]}}</td>
          <td></td>
        </tr>
