.submit {
  width: 80px;
  font-family: "DK Lemon Yellow Sun";
  border-radius: 5px;
  box-sizing: content-box;
  padding: 10 px;
  background-color: rgba(240, 197, 116);
  color: black;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
/*
#starsAndButton {
  align-items: center;
} */
