th {
  color: rgb(190, 238, 245);
  font-family: "Kalam-Regular";
  font-size: 18px;
  vertical-align: bottom;
}

td {
  color: rgb(190, 238, 245);
  font-family: "Kalam-Regular";
  font-size: 22px;
  vertical-align: bottom;
}

b {
  margin: auto;
  color: rgb(240, 197, 116) !important;
  font-size: 22px;
  text-align: center;
  font-family: "DK Lemon Yellow Sun";
}

td, th {
  word-wrap: break-word;
  max-width: 500px;
}
