th {
  color: rgb(190, 238, 245);
  font-family: "Kalam-Regular";
  font-size: 18px;
  vertical-align: bottom;
}

td {
  color: rgb(190, 238, 245);
  font-family: "Kalam-Regular";
  font-size: 22px;
  vertical-align: bottom;
}
