<div class="container p-5" *ngIf="comments != null">

  <table class="table">
    <tbody>
      <tr>
        <b>Your comments: </b>
      </tr>
      <tr class="pointer" *ngFor="let entry of comments, let i = index">
        <th>{{movieTitles[i]}}</th>
        <td id="comment">{{bodies[i]}}</td>
        <td id="editAndDelete"><button class="edit clickable" [routerLink]='["/editCommentApi/"+commentIds[i]]'>Edit</button>/<button class="delete clickable" (click)="deleteComment(i)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

<app-loading-page *ngIf="comments==null"></app-loading-page>
