p {
  font-family: 'DK Lemon Yellow Sun';
  font-size: 18px;
  /* color: rgb(159, 199, 205); */
  color: rgba(240, 197, 116);
  text-align: left;
  box-sizing: unset;
  float: left;
}

.submit {
  float: right;
  margin-right: 5px;
  width: 70px;
  margin-top: -12px;
  font-family: "DK Lemon Yellow Sun";
  border-radius: 5px;
  box-sizing: content-box;
  background-color: rgba(240, 197, 116);
  color: black;
}

textarea {
  background-color: rgb(52, 58, 64, 0.6);
  border-color: rgba(240, 197, 116);
  color: rgb(159, 199, 205);
  height: 100px;
  width: 122%
}

.container {
  justify-content: center;
  padding-left: 10px;
  padding-block-start: 5%;
}

form {
  padding-bottom: 50px;
}

.error{
  font-family: "DK Lemon Yellow Sun";
  font-size: 18px;
  color: #ff3737;
  text-align: left;
  box-sizing: unset;
  float: left;
}
