<div *ngIf="userId == undefined" class="container">
  <p>Please log in o register to leave your comment and/or rating</p>
</div>

<div *ngIf="userId != (null || undefined)" class="container">
  <div class="container p-5">
    <form class="pt-5" (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div style="display: none" class="form-group row">
        <label for="cast" class="col-sm-2 col-form-label">Movie Id</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="movieid"
            required
            [ngModel]="id"
            name="movieid"
          />
        </div>
      </div>
      <div style="display: none" class="form-group row">
        <label for="director" class="col-sm-2 col-form-label">User Id</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="userid"
            required
            [ngModel]="userId"
            name="userid"
          />
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <textarea
            type="body"
            style="resize: none"
            class="form-control"
            id="body"
            required
            ngModel
            name="body"
          ></textarea>
          <p *ngIf="errorOccurred != true">Write your comment here</p>
          <div class="error" *ngIf="errorOccurred == true">
            <i class="fas fa-exclamation-triangle">&nbsp;</i>{{ errorText }}
          </div>
        </div>
      </div>
      <span>
        <button type="submit" [disabled]="!form.valid" class="submit">
          Send
        </button>
      </span>
    </form>
  </div>
</div>
