body {
  background-color: rgb(52, 58, 64);
  height: 100%;
  margin-bottom: -1.2%;
}

p {
  font-family: 'DK Lemon Yellow Sun';
  font-size: 18px;
  background-color: rgb(52, 58, 64);
  /* color: rgb(159, 199, 205); */
  color: rgba(240, 197, 116);
  text-align: left;
  padding-inline-start: 30%;
  box-sizing: unset;
  float: left;
}

#title {
  font-family: "DK Lemon Yellow Sun";
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

ul,
.list-group-item,
li {
  color: rgb(190, 238, 245);
  background-color: rgb(52, 58, 64);
  font-family: "LettersForLearners";
  font-size: 22px;
  border: none;
  width: 700px;
  padding-top: 0%;
}

ul,
.list-group {
  margin-right: 100px;
  float: right;
  margin-top: -150px;
}

img {
  width: 250px;
  display: inline-block;
  margin-right: 5%;
  vertical-align: bottom;
}

.fa-backward {
  margin-top: 30px;
  color: rgb(190, 238, 245);
  padding-bottom: 40px;
}

/* #stars {
  width: 250px;
  float: right;
  margin-top: -30px;
  margin-left: auto;
} */

ul {
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 2px;
  border-radius: 0%;
  margin-bottom: 70px;
}

#commentBox,
textarea {
  width: 500px;
  margin: auto;
}

#pieRatingChart {
  width: 20%;
  display: inline-block;
  margin-left: 5%;
}

#barChart {
  width: 25%;
  display: inline-block;
  margin-left: 12%;
  clear: right;
}

#chartsLine {
  vertical-align: top;
}
