body {
  background-color: rgb(52, 58, 64);
  height: 100%;
  margin-bottom: -1.2%;
}

#title {
  font-family: "DK Lemon Yellow Sun";
  font-size: 32px;
  font-weight: bold;
  width: 250px;
  text-align: left;
  display: inline;
}

#movieId {
  width: 200px;
}

li, ul, .list-group-item {
  width: 750px;
  float: left;
  text-align: justify;
}

ul, .list-group-item {
  color: rgb(190, 238, 245);
  background-color: rgb(52, 58, 64);
  font-family: "Kalam-Regular";
  font-size: 22px;
  border: none;
  align-content: justify;
  text-justify: auto;
  vertical-align: top;
}

img {
  width: 250px;
  display: inline;
  margin-right: 5%;
  vertical-align: bottom;
  float: left;
}

.fa-backward {
  margin-left: -50px;
  margin-top: 20px;
  color: rgb(190, 238, 245);
  padding-bottom: 40px;
}

#MovieDetails {
  vertical-align: top;
}

#chart {
  margin-right: 20%;
}

#chartMediaRating {
  flex: right;
  /* margin-left: 100px; */
}

#chartDetailRating {
  float: right;
  margin-right: 10%;
}

#chartBlock {
  background-image: url("../../../assets/img/header-jetBlack.jpg");
  opacity: 0.8;
  width: 100%;
  height: auto;
}

#stars {
  width: 300px;
  align-content: auto;
}

td {
  padding-right: 85px;
}

#releaseDate {
  text-align: right;
  padding: 0%;
}

#commentBox,
textarea {
  /* float: right; */
  width: 500px;
  margin: auto;
}

ul {
  margin-top: 20px;
}
