<body>

  <div *ngIf="result != null " class="container">

    <div>
      <a (click)="goBack()">
        <i class="fas fa-backward fa-2x"></i>
      </a>
    </div>

    <span id="chartBlock">
      <span id="chartMediaRating">
        <app-charts></app-charts>
      </span>
      <span id="chartDetailRating">
        <app-chart-genre></app-chart-genre>
      </span>
      <span>
        <img src="https://image.tmdb.org/t/p/original/{{ result.poster_path }}">
        <!-- <span id="rating"> -->
          <app-add-rating-api></app-add-rating-api>
          <app-edit-rating-api></app-edit-rating-api>
        <!-- </span> -->
      </span>
    </span>

    <span id="scheda">
      <ul class="list-group">
        <li id="title" class="list-group-item">{{result.title}}</li>
        <li id="movieId" class="list-group-item"># {{result.id}}</li>
        <li id="overview" class="list-group-item">{{result.overview}}</li>
        <li class="list-group-item">Language: {{result.original_language}}</li>
        <li class="list-group-item">Popularity: {{result.popularity}}</li>
        <li class="list-group-item">Release date : {{result.release_date}}</li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
      </ul>
    </span>
  </div>
  <app-add-comment></app-add-comment>
</body>
